.services-section{
	color: $white-color;
	background-color: $white-color;
	font-family: $second-font-family;
	border-bottom: 1px solid $decor-line-color;
	.columns{
		height: 1px;
		min-height: 750px;
		@include max-1023{
			min-height: 300px;
		}
	}
	.wrapper-img{
		height: 100%;
		.bg-img-1{
			height: 100%;
			background-image: url($img-path + 'serv-1.jpg');
			@include bg-settings;
			background-position: center center;
			cursor: pointer;
			transition: all .5s ease;
			&:hover{
				transition: all .5s ease;
				background-position: top left;
			}
		}
		.bg-img-2{
			height: 100%;
			background-image: url($img-path + 'serv-2.jpg');
			@include bg-settings;
			background-position: center center;
			cursor: pointer;
			transition: all .5s ease;
			&:hover{
				transition: all .5s ease;
				background-position: top left;
			}
		}
		.bg-img-3{
			height: 100%;
			background-image: url($img-path + 'serv-3.jpg');
			@include bg-settings;
			background-position: center center;
			cursor: pointer;
			transition: all .5s ease;
			&:hover{
				transition: all .5s ease;
				background-position: top left;
			}			
		}
	}
	.bg-blue{
		background-color: #19334B;
	}
	.bg-yellow{
		background-color: #FFD239;
	}
	.bg-green{
		background-color: #55BBAE;
	}
	.content-wrapper{
		padding: 3em;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.icon-wrapper{
			margin-bottom: 35px;
			display: flex;
			justify-content: center;
		}
		.serv-title{
			display: flex;
			align-items: center;
			justify-content: center;
			letter-spacing:-2px;
			font-size: 64px;
			line-height: 1.2;
			font-weight: 500;
			line-height: 1;
			@include max-1023{
				font-size: 40px;
				margin-bottom: .2em;
			}
		}
		.serv-subtitle{
			font-size: 16px;
			color: rgba(255,255,255,0.8);
			line-height: 1.8;
		}
	}	
}