$img-path: '../images/';




$main-color-text: #fff;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;
$light-green: rgb(65, 87, 248);
$main-bg-color: #F1F8FF;



$decor-line-color: #E3E3E3;


$main-font-family: 'Mukta', sans-serif;
$second-font-family: 'Rubik', sans-serif;
$transition-duration: 0.5s;
$text-color: #ffffff;
$text-color-second: #1b1b4f;
$text-color-subtitle: #5d5d5d;
$header-bg-color: rgba($black-color, 1);

// Style button
$button-color: rgb(85, 187, 175);
$buttom-color-text: #ffffff;

