.main-section{
	min-height: 94vh;
	max-width: 100%;
	position: relative;
	background-color: $main-bg-color;
	background-image: url($img-path + 'main-bg.jpg');
	@include bg-settings;
	&::after{
		content: '';
		position: absolute;
		width: 2px;
		height: 60px;
		background-color: $red-color;
		bottom: -3vh;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}
	.min-h{
		min-height: 650px;
	}
	.wr-main-img{
		position: relative;
		z-index: 1;
		height: 100%;
		display: flex;
		align-items: center;
		overflow: hidden;
		.main-img{
			animation: matrix3d 10s linear;
		}
	}
	.main-header{
		position: relative;
		z-index: 10;
		background-color: #fff;
		.st-row{
			@media screen and (max-width: 639px){
				padding: 1em;
			}
		}
		&.fixed-menu-nav{
			z-index: 9999;
			position: fixed; 
			left: 0; 
			top: 0; 
			width: 100%;
			background-color: $header-bg-color;
		}
		&__wrp-logo{
			height: 100%;
			display: flex;
			align-items: center;
			.logo-color {
				fill: $white-color;
			}
			.fixed-logo-color{
				fill: #303030;
			}
		}
		&__lnk-logo{
			display: flex;
			align-items: center;
			.logo-img {
				max-width: 65px;
				margin-right: 10px;
			}
			.logo-text{
				display: block;
				font-family: $main-font-family;
				font-weight: 300;
				color: $black-color;
				text-align: center;
				font-size: 2em;
				line-height: 1;
				& span{
					font-weight: 700;
					display: block;
				}
			}
		}
		.main-menu{
			min-height: 80px;
			display: flex;
			align-items: center;
			&__items{

			}
			&__list{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media screen and (max-width: 639px){
					display: block;
				}
			}
			&__link{
				text-transform: capitalize;
				font-size: 16px;
				color: $menu-color;
				font-family: $main-font-family;
				position: relative;
				padding: .2em .5em;
			}
		}
	}
	.main-content{
		color: $text-color;
		padding: 2em .5em .5em;
		font-family: $second-font-family;
		position: relative;
		z-index: 1;
		@include max-1023 {
			min-height: 350px;
			align-items: center;
			margin-bottom: 2em;
		}
		&__title{
			margin-bottom: 1em;
			& > * {
				font-size: 45px;
				font-weight: 400;
				line-height: 1.5;
				@media screen and (max-width: 580px){
					font-size: 30px;
				}
			}
		}
		&__subtitle{
			font-size: 21px;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 1em;
			@media screen and (max-width: 500px){
				font-size: 18px;
				text-align: justify;
			}
		}
		&__button{
			@include button;	
		}
	}
}

@keyframes matrix3d{
	0%, 100%{
		transform: matrix3d(1,	0,	0,	0, 0,	1,	0,	0, 0,	0,	1,	0, 0,	0,	0,	1);
	}
	50%{
		transform: matrix3d(1.08711, 0.000119325, 0, 0, -0.000119325, 1.08711, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform-origin: 0% 0% 0px;
	}
}