$img-path: '../images/';




$main-color-text: #fff;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;
$light-green: #51AF8A;




$main-font-family: 'Poppins', sans-serif;
$second-font-family: 'Open Sans', sans-serif;
$transition-duration: 0.5s;
$text-color: #303030;
$button-color: #2c62bd;
