$img-path: '../images/';




$main-color-text: #E9F6FC;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;

$color-button: #41589D;
$color-menu: #000;
$color-header: #050b25;
$color-dec-line: #8A8C39;
$second-color: #8AABBA;


$main-font-size: 100%;
$main-font-family: 'Mukta', sans-serif;
$transition-duration: 0.5s;

