@mixin button {
  height: 50px;
  padding: 17px 40px;
  font-weight: 700;
  font-family: $second-font-family;
  font-size: 19px;
  text-transform: uppercase;
  color: $white-color;
  text-align: center;
  background-color: $button-color;
  line-height: .9;
  letter-spacing: 0px;
  margin-bottom: 0;
  &:hover{
    background-color: $text-color;
    color: $button-color;
  }
}
@mixin bg-settings {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@mixin max-1023 {
  @media screen and (max-width: 1023px){
    @content;
  }
}

@mixin max-639 {
  @media screen and (max-width: 639px){
    @content;
  }
}