$img-path: '../images/';




$main-color-text: #fff;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;
$light-green: #52eac8;


$link-color: #fff;
$active-link-color: #22BCD3;

$main-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Open Sans', sans-serif;
$transition-duration: 0.5s;
$text-color: #ffffff;
$text-color-second: #1b1b4f;
$text-color-subtitle: #9292A1;
$header-bg-color: rgba(#F4F4F4, .9);
$button-color: #000000;
