$img-path: '../images/';




$main-color-text: #E9F6FC;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;




$main-font-family: 'Montserrat', sans-serif;
$transition-duration: 0.5s;

