$img-path: '../images/';




$main-color-text: #fff;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;
$light-green: #55a098;




$main-font-family: 'Open Sans', sans-serif;
$second-font-family: 'Raleway', sans-serif;

$transition-duration: 0.5s;
$text-color: #848b8e;
$text-color-second: #1b1b4f;
$text-color-subtitle: #9292A1;
$header-bg-color: #161765;
$button-color: #55a098;
